{% extends 'base.html.twig' %}

{% block title %}Новые данные для входа{% endblock %}

{% block body %}

    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Авторизация</h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="{{ path('app_main') }}">Главная</a></li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Авторизация</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <p>Вам на почту привязанному к этому телефону отправлено письмо с данными для входа</p>
            </div>
        </div>
    </div>
{% endblock %}
